<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TIWProject_js</display-name>
  
  <context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/tiw_project_js</param-value>
	</context-param>
	<context-param>
	    <param-name>dbUser</param-name>
	    <param-value>tiw23</param-value>
	</context-param>
	<context-param>
	    <param-name>dbPassword</param-name>
	    <param-value>Fraternali!</param-value>
	</context-param>
	<context-param>
	    <param-name>dbDriver</param-name>
	    <param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	
	<context-param>
		<param-name>imgFolderPath</param-name>
		<param-value>C:\\Users\\franc\\Desktop\\UNI\\3°anno\\TIW\\tiw.project-js\\file\\Img\\</param-value>
  	</context-param>
  	<context-param>
		<param-name>audioFolderPath</param-name>
		<param-value>C:\\Users\\franc\\Desktop\\UNI\\3°anno\\TIW\\tiw.project-js\\file\\Audio\\</param-value>
  	</context-param>
  
  <welcome-file-list>
    <welcome-file>sign-in.html</welcome-file>
    <welcome-file>sign-up.html</welcome-file>
  </welcome-file-list>
</web-app>